---
title: 拿饭-阅读书籍
---
  <div class="container">
  </div>

  <div class="project-container">
    <h1>阅读书籍</h1>
    <p>我自问读书为何？答曰增长知识。但是，需要总结读书梗概。不能单独为了读书而读书，此乃读书之道。</p>
    <br><center>
    <!--
    <a href="#"><span class="label label-danger">Photography</span></a>
    <a href="#"><span class="label label-danger light">Coding</span></a></center>
    -->
  </div>

  {% for post in site.categories.books %}
    <div class="container">
      <div class="project-box">
        <div class="row">
          <div class="col-md-3 project-image">
            <img src="{{ post.picUrl }}">
          </div>
          <div class="col-md-9 project-post">
            <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
            <h4 ><font color="#8a8a8a">
              {% if page.author %}
                {{ page.author }}
               {% else %} 
                {{ site.author }}
               {% endif %}
            </font></h4>
            <p class="meta"><small>&nbsp;<i class="fa fa-calendar-o"></i> {{ post.date | date: "%D"  }}</small></p><hr/>
            <div class="post">{{ post.excerpt }}</div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
