    </div>
    <style>
    .showcase-wrapper {background-image: url("http://www.gdyunmu.com/uploads/allimg/140805/1-140P51U14HT.jpg");}
    </style>
    <div class="showcase-wrapper sticky">
      <div class="showcase-text">
          {% for post in site.posts limit: 1 %}
          <span class="badge lazy"><smaller>最新力作</smaller></span><br>{{ post.title }}<br><a href="{{ site.baseurl }}{{ post.url }}"><button type="button" class="btn btn-default showcase-button">阅读更多</button></a>
          {% endfor %}
      </div>
    </div>
    <div class="container">
