    </div>
    <style>
    .showcase-wrapper {background-image: url("http://news.xinhuanet.com/fortune/2010-11/17/12786159_291n.jpg");}
    </style>
    <div class="showcase-wrapper sticky">
      <div class="showcase-text">
          {% for post in site.posts limit: 1 %}
          <span class="badge lazy"><smaller>最新力作</smaller></span><br>{{ post.title }}<br><a href="{{ site.baseurl }}{{ post.url }}"><button type="button" class="btn btn-default showcase-button">阅读更多</button></a>
          {% endfor %}
      </div>
    </div>
    <div class="container">
