    </div>
    <style>
    .showcase-wrapper {background-image: url("http://f12.baidu.com/it/u=1161924554,201108109&fm=170&s=B2819C4B5497B67A5EB115AB03007010&w=600&h=372&img.JPEG&access=215967316");}
    </style>
    <div class="showcase-wrapper sticky">
      <div class="showcase-text">
          {% for post in site.posts limit: 1 %}
          <span class="badge lazy"><smaller>最新力作</smaller></span><br>{{ post.title }}<br><a href="{{ site.baseurl }}{{ post.url }}"><button type="button" class="btn btn-default showcase-button">阅读更多</button></a>
          {% endfor %}
      </div>
    </div>
    <div class="container">
