---
layout: default
---
<link rel="stylesheet" href="{{ site.baseurl }}/css/toc.css" type="text/css" media="screen">
<script src="{{ site.baseurl }}/js/jquery.tocLight.js"></script>

<link rel="stylesheet" href="//cdn.bootcss.com/nprogress/0.2.0/nprogress.min.css" type="text/css">
<script src="//cdn.bootcss.com/nprogress/0.2.0/nprogress.min.js"></script>

<script type="text/javascript" charset="utf-8">
  $(function() {
      $("img.lazy").lazyload({effect: "fadeIn"});
      $.toc.clickHideButton();
  });
</script>

<div id="article">
	<div class="article-title">{{ page.title }}</div>
	<p class="meta">
		<small>&nbsp;<i class="fa fa-user-circle" aria-hidden="true"></i>
			 {% if page.author %}
			 	{{ page.author }}
			 {% else %} 
			 	{{ site.author }}
			 {% endif %}
		 </small>
		<small>&nbsp;<i class="fa fa-calendar-o" aria-hidden="true"></i> {{ page.date | date: "%D"}}</small>
	</p> 
	<hr/>
	<div class="post">
		{{ content | toc_generate}}
		<hr>
		<div>
			{% include pager.html %}
		</div>
	</div>
</div>
{% include comment.html%}

