---
layout: default
---
<link rel="stylesheet" href="{{ site.baseurl }}/css/toc.css" type="text/css" media="screen">
<link rel="stylesheet" href="//cdn.bootcss.com/nprogress/0.2.0/nprogress.min.css" type="text/css">
<script src="//cdn.bootcss.com/nprogress/0.2.0/nprogress.min.js"></script>
<script src="{{ site.baseurl }}/js/jquery.toc.js"></script>
<script type="text/javascript" charset="utf-8">
  $(function() {
      $("img.lazy").lazyload({effect: "fadeIn"});
  });
</script>
 <script type="text/javascript">
    $(function() {
      $('#toc').toc({
        showAlways:true,
        renderIn:'#renderIn',
        contentsText:"Legenda",
        hideText:'Collapse',
        showText:'Expand',
        showCollapsed:true
      });
    });
    </script>
<div id="article">
	<div class="article-title">{{ page.title }}</div>
	<p class="meta">
		<small>&nbsp;<i class="fa fa-user-circle" aria-hidden="true"></i>
			 {% if page.author %}
			 	{{ page.author }}
			 {% else %} 
			 	{{ site.author }}
			 {% endif %}
		 </small>
		<small>&nbsp;<i class="fa fa-calendar-o" aria-hidden="true"></i> {{ page.date | date: "%D"}}</small>
	</p> 
	<hr/>
	<div  class="post">
		{{ content | toc_generate }}
		<!--分享按钮 开始-->
		<div class="bdsharebuttonbox" style="margin-left:auto;margin-right:2px;width:140px;">
			<a href="#" class="bds_more" data-cmd="more"></a>
			<a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
			<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
			<a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
			<a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
			<a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
		</div>
		<script>
			window._bd_share_config={
				"common":{
					"bdSnsKey":{},
					"bdText":"",
					"bdMini":"2",
					"bdPic":"",
					"bdStyle":"0",
					"bdSize":"16"
				},
				"share":{},
				"image":{
					"viewList":["qzone","tsina","tqq","renren","weixin"],
					"viewText":"分享到：","viewSize":"16"
				},
				"selectShare":{
					"bdContainerClass":null,
					"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]
				}};
				with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
		</script>
		<!--分享按钮 结束-->
		<hr>
		<div>
			{% include pager.html %}
		</div>
	</div>
</div>

